<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
<!--    <link rel="stylesheet" href="/static/css/mini.css">-->
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <script>
        let tableHeight = {{.TableHeight}};
        let tokensHeight =  {{.TokensHeight}};
        let resourcesHeight =  {{.ResourcesHeight}};
    </script>
</head>
<body>
<p>Hello, {{.Username}}!</p>
<table>
    <colgroup>
        <col style="width:30%">
        <col style="width:40%">
        <col style="width:30%">
    </colgroup>
    <tbody id="tokens">
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td><button id="add-token-btn">Add token</button></td>
        <td>
            <button id="add-rule-btn">Add rule</button>
            <select id="rl-sel" style="width: 50px">
                <option id="grp-opt" style="width: 50px">group</option>
                <option id="act-opt" style="width: 50px">action</option>
            </select>
            <input id="usr-i" type="number" placeholder="user" style="width: 50px" value="1">
            <input id="grp-i" type="number" placeholder="group" style="width: 50px" value="1">
            <select id="cond-sel" style="width: 50px">
                <option id="incl-opt" style="width: 50px">includes</option>
                <option id="excl-opt" style="width: 50px">excludes</option>
            </select>
            <select id="act-sel" style="width: 100px" class="hide">
                <option id="allw-opt" style="width: 50px">allow</option>
                <option id="deny-opt" style="width: 50px">deny</option>
            </select>
        </td>
        <td>
            <button id="bnd-schema">Bind schema to resource</button>
            <input id="file" type="file" name="myFile" />
        </td>
    </tr>
    {{range .Table}}
    <tr>
        <td id="t-0-{{.Index}}">{{.Token}} -> {{.UserId}}</td>
        <td id="t-1-{{.Index}}">empty</td>
        <td id="t-2-{{.Index}}">{{.ResourceUUID}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>