<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/mini.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="screen-block">
    <div class="center-screen">
        <div class="lbls">
            <h1>Sign Up</h1>
            <label for="login">Username</label><input id="login" type="text">
            <label for="password">Password</label><input id="password" type="password">
        </div>
        <div class="btns">
            <button id="log-btn">Login</button>
            <button id="to-reg-btn" class="to-btn">To register page</button>
        </div>
    </div>
</div>
</body>
</html>