<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get resource</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="res-container">
    <div class="res-form">
        <h2>Get resource here!</h2>
        <input id="r-uuid" type="text" placeholder="Resource UUID..." class="res-form-inp"><br>
        <input id="token" type="text" placeholder="Token..." class="res-form-inp"><br>
        <input id="get-res-btn" type="button" value="Download" class="everything lbt">
        <input id="to-log-btn" type="button" value="To login page" class="everything mbt">
        <input id="to-reg-btn" type="button" value="To register page" class="everything rbt">
    </div>
</div>
</body>
</html>