@{
    ViewBag.Title = "Главная";
}

<div class="text-center">
    <h1 class="display-4">CTF Land</h1>
    <p>Добро пожаловать на платформу для создания страниц для парков атракционов!
        Опиши свой парк в несколько кликов и делись ссылкой со знакомыми и посетителями.</p>
</div>
