html, body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(45deg,#333333,#222222);
    font-family: sans-serif;
    font-weight: 100;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
tbody td {
    position: relative;
}


.everything {
    background-color: #9a9a9a;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
}

#logout-btn {
    margin-left: 15px;
    margin-top: 6px;
}


.ceil {
    color: white;
    float: left;
}

.center-res {
    align-content: center;
    margin: 0 auto;
}


.res-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}


.res-form {
    color: #eeeeee;
    font-size: 24px;
}

.res-form-inp {
    width: 91%;
    background-color: #eeeeee;
    padding: 10px 12px;
    margin: 7px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 20px;
    border-width: 0;
    color: #333333;
}

.res-form > .lbt {
    margin: 7px 30px 7px 7px;
}
.res-form > .mbt {
    margin: 7px 7px 7px 7px;
}
.res-form > .rbt {
    margin: 7px 7px 7px 7px;
    float: right;
}



input {
    color: white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #eeeeee;
    box-shadow: 0 1px 1px #333333 inset, 0 0 2px #eeeeee;
    outline: 0 none;
}
